.user-data {
  margin-top: 2rem;

  &__field {
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
  }

  &__label {
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__data {
    font-size: 1.2rem;
  }
}
